

<% if @current_user %>

  <h1>Bienvenue <%= @current_user.name %> !</h1>
<h3>Nous vous proposons de découvrir les nouveaux talents de la coiffure grâce à une coupe de cheveux gratuite !</h3>


<a href="/events/new">Ajouter ton évènement</a>

<% else %>

  <h1>Bienvenue visiteur anonyme !</h1>

  <a href="/new">Inscris toi</a> <br> <br> <p>ou si tu as déjà un compte</p>  <br>
<a href="login">Connecte toi</a>

<% end %>


